/*chat-users.component.css*/
.chat-users-list {
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
    background-color: #f8f9fa;
    border-left: 1px solid #d0ebff;
    border-radius: 0 12px 12px 0;
    margin: 8px 0;
    padding: 6px 10px;
    border-radius: 8px;

}

ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: none;
    font-size: 0.8em;
    color: #007bff;
}

.current-user {
    color: #0f5132;
    font-weight: bold;
}