/*chat-component.css*/
:host {
    display: block;
    max-width: 600px;
    margin: 40px auto;
    background: #f7f9fc;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.chat-box {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    background-color: #d1e7dd;
    border-radius: 8px;
    margin-bottom: 20px;
}

.chat-box::-webkit-scrollbar {
    width: 6px;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #dcdcdc;
    border-radius: 3px;
}

.chat-message {
    margin: 8px 0;
    padding: 6px 10px;
}

.chat-message strong {
    color: #007bff;
}

.my-message {
    background-color: #d1e7dd;
    text-align: right;
    margin-left: auto;
    color: #0f5132;
    border: 1px solid #d0ebff;
    border-radius: 12px 0 12px 12px;
    max-width: 150px;
    word-wrap: break-word;
    white-space: normal;
}

.other-message {
    background-color: #d0ebff;
    border: 1px solid #badbcc;

    text-align: left;
    margin-right: auto;
    color: #212529;

    border-radius: 0 12px 12px 12px;
    max-width: 150px;
    word-wrap: break-word;
    white-space: normal;
}

.sender-label {
    font-size: 0.7em;
    font-weight: 500;
    margin-bottom: 2px;
    text-align: left;
}

.input-group {
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.input-group textarea {

    flex: 1;
    align-items: center;
    padding: 10px 45px 10px 15px;
    /* spazio per la freccia */
    border-radius: 8px;
    resize: none;
    /* rimuove il ridimensionamento manuale */
    font-size: 1em;
    outline: none;
    overflow-y: auto;
    min-height: 14px;
    /* opzionale: limite altezza */
    border: 1px solid #d0ebff;
}

.send-icon {
    position: absolute;
    bottom: 5px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.send-icon svg {
    width: 20px;
    height: 20px;
    fill: #4e9eff;
    /* azzurro stile Teams */
    transition: transform 0.2s ease;
}

.send-icon:hover svg {
    transform: scale(1.2);
}

.chat-layout {
    display: flex;
    flex-direction: row;
}

.chat-main {
    flex: 11;
    padding-right: 2px;
    padding-left: 2px;
}

.chat-user-list-main {
    margin-bottom: 20px;
    flex: 1;
    padding-right: 2px;
    padding-left: 2px;

}